/* NAVBAR - START */

  .nav-link{
    color: #999;
  }

  .nav-link:focus, .nav-link:hover{
    color: white;
  }

  .navbar-toggler:focus, .navbar-toggler:hover{
    box-shadow: none;
  }

  .hamburger_menu{
    width: 30px;
  }

  .navbar{
    background-color: #24252B!important;
  }

  .navbar_container .navbar-brand{
    cursor: pointer;
  }

  .navbar_container .navbar-brand .logo_code_shop{
    height: 37px;
  }

  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }

  .cart_icon{
    cursor: pointer;
    order: 1;
    height: 30px;
  }


/* NAVBAR - END */

.general-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ebebeb;
}

.products-container{
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfe;
  color: white;
  margin: 20px 0px 0px 20px;
  /* border: 1px solid black; */
  text-decoration: none;
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.products-container:hover{
  color: white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.65)!important;
}

.product-image{
  width: 85%;
  max-height: 200px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 20px;
  border-radius: 1rem;
}

.product-image img{
  max-height: 200px;
  border-radius: 1rem;
}

.product-info{
  width: 100%;
  height: 5.5rem;
  background-color: #fcfcfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  color: black;
  font-weight: 700;
}

.product-title{
  font-size: 16px;
  margin-bottom: 10px;
}

.product-info h5{
  font-weight: 900;
}

.list-bts{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.detailsItem-bt{
  height: 50px;
  width: 85%;
  display: flex;
  background-color: black;
  color: white;
  border: 0px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-weight: 700;
}

.detailsItem-bt:hover{
color: white;
}

.principal-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-product{
  width: 80rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #150050;
  color: white;
  margin: 20px 0px 0px 20px;
  border: 1px solid black;
}

.detail-product-image{
  width: 100%;
  height: 20rem;
  max-height: 100%;
  display: flex;
  justify-content: center;
}

.product-details{
  width: 100%;
  height: 100%;
  background-color: #3F0071;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.product-detail-title{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
}

.product-info h5{
  font-weight: 900;
}




@media screen and (max-width: 990px) {

  /* NAVBAR - START */
  .cart_icon {
    order: 0;
  }
  /* NAVBAR - END */

}