/* NAVBAR - START */

  .nav-link{
    color: #999;
  }

  .nav-link:focus, .nav-link:hover{
    color: white;
  }

  .navbar-toggler:focus, .navbar-toggler:hover{
    box-shadow: none;
  }

  .hamburger_menu{
    width: 30px;
  }

  .navbar{
    background-color: #24252B!important;
  }

  .navbar_container .navbar-brand{
    cursor: pointer;
  }

  .navbar_container .navbar-brand .logo_code_shop{
    height: 37px;
  }

  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }

  .cart_icon{
    cursor: pointer;
    order: 1;
    height: 30px;
  }


/* NAVBAR - END */

.general-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ebebeb;
  padding-bottom: 50px;
}

.products-container{
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfe;
  color: white;
  margin: 20px 0px 0px 20px;
  /* border: 1px solid black; */
  text-decoration: none;
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.products-container:hover{
  color: white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.65)!important;
}

.product-image{
  width: 85%;
  max-height: 200px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 20px;
  border-radius: 1rem;
}

.product-image img{
  max-height: 200px;
  border-radius: 1rem;
}

.product-info{
  width: 100%;
  _height: 5.5rem;
  background-color: #fcfcfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  color: black;
  font-weight: 700;
}

.product-title{
  font-size: 16px;
  margin-bottom: 10px;
}

.product-info h5{
  font-weight: 900;
}

.list-bts{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.cantContainer{
  display: flex;
  margin-bottom: 20px;
}

.cantContainer .cantidad{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.cantContainer button{
   background-color: white;
   border: none;
   border-radius: 100px;
   color:  rgb(51, 51, 51);
   font-size: 1.5rem;
   padding: 3px 10px;
   width: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 7px;
}

.cantContainer button:hover {
  background-color: rgb(51, 51, 51);
  color: white;
}

.detailsItem-bt{
  height: 50px;
  width: calc(85% - 4px);
  display: flex;
  background-color: black;
  color: white;
  border: 0px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-weight: 700;
  border: 2px solid black;
}

.detailsItem-bt:hover{
  color: black;
  background-color: white;
}

.principal-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-product{
  width: 80rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfe;
  color: black;
  margin: 20px 0px 0px 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 1rem;
}

.detail-product-image{
  height: 65%;
  width: 80%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

.product-details{
  width: 35%;
  height: 95%;
  background-color: #fcfcfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid rgb(212, 211, 211);
  margin: 10px;
  border-radius: 1rem;
}

.product-details h5{
  font-weight: 700;
  padding-bottom: 20px;
}

.product-detail-title{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
}

.product-info h5{
  font-weight: 900;
}

.nav-item {
  text-decoration: none!important;
}

.loadingContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 1.5rem;
  font-weight: 700;
}

.notifCartItems {
  position: absolute;
  background-color: #f02d00;
  color: white;
  border-radius: 12px;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  font-size: .7rem;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CART - START */

  .logo_EmptyCart{
    width: 6rem;
  }
.no_items{
  height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no_items p{
  font-size: 35px;
  font-weight: 900;
}

.no_items .buyItem-bt{
  text-decoration: none;
  
}
.cart_card{
  height: 6rem;
  width: 98.5%;
  color: black;
  display: flex;
  flex-direction: row;
  margin: 0rem 0rem 0rem 1rem;
  border-bottom: 1px solid rgb(228, 228, 228);
}
  .cart_card .img{
    height: 70%;
    max-width: 10rem;
    object-fit: cover;
    display: flex;
    align-self: center;
  }

  .cart_card_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 900;
  }
  
  .cart_card_info span{
    width: 80%;
    text-align: center;
  }
  
  .brand_title{
    width: 31rem;
    font-weight: 900;
    display: flex;
    align-items: center;
  }
  
  .rest_prod_title{
    width: 80%;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .delete_icon{
    height: 100%;
    color: rgb(161, 161, 161);
    width: 1.5rem;
    cursor: pointer;
  }
  .cart_father{
    height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
  }

  .principal_container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .titles_cart{
    width: 99%;
    color: black;
    height: 2rem;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(212, 212, 212);
    margin-left: 10px;
  }

  .prod_title{
    width: 50rem;
    font-weight: 900;
    display: flex;
    align-items: center;
  }

  .rest_title{
    width: 80%;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .totals_container{
    background-color: #fcfcfe;
    height: calc(100vh - 63px);
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    color: black;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
  
  .totals_container button{
    width: 100%;
  }
  
  .del_disc_taxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .del_disc_titles{
    display: flex;
    flex-direction: column;
    font-weight: 900;
  }
  
  .del_disc_values{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

/* CART - END */ 

@media screen and (max-width: 990px) {

  /* NAVBAR - START */
  .cart_icon {
    order: 0;
  }
  /* NAVBAR - END */

}