/* NAVBAR - START */

  .nav-link{
    color: #999;
  }

  .nav-link:focus, .nav-link:hover{
    color: white;
  }

  .navbar-toggler:focus, .navbar-toggler:hover{
    box-shadow: none;
  }

  .hamburger_menu{
    width: 30px;
  }

  .navbar{
    background-color: #24252B!important;
  }

  .navbar_container .navbar-brand .logo_code_shop{
    height: 37px;
  }

  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }

  .cart_icon{
    cursor: pointer;
    order: 1;
  }


/* NAVBAR - END */

@media screen and (max-width: 990px) {

  /* NAVBAR - START */
  .cart_icon {
    order: 0;
  }
  /* NAVBAR - END */

}